.reaction {
  display: flex;
  flex-direction: row;
  background-color: rgb(13, 17, 23);
  border-width: 1px;
  border: rgb(48, 54, 61) 1px;
  border-radius: 6px;
}

.commentAndEdit {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
