.btn {
  border-radius: 6px;
  background-color: rgb(35, 134, 54);
  color: rgb(255, 255, 255);
}

.btn:hover {
  background-color: rgb(61, 135, 75);
  transition: 0.5s;
}

.deleteBtn {
  float: right;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
  border-color: rgb(218, 47, 38);
  border-style: solid;
  background-color: rgb(218, 47, 38);
  color: rgb(255, 255, 255);
}

.deleteBtn:hover {
  border-color: rgb(166, 25, 18);
  background-color: rgb(166, 25, 18);
  transition: 0.5s;
}

.editBtn {
  float: right;
  margin-top: -38px;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
  border-color: #1f6feb;
  border-style: solid;
  background-color: #1f6feb;
  color: rgb(255, 255, 255);
}

.editBtn:hover {
  border-color: #1b58b4;
  background-color: #1b58b4;
  transition: 0.5s;
}

.feedReactBtn {
  border-radius: 6px;
  border-color: rgb(35, 134, 54);
  border-style: solid;
  background-color: rgb(35, 134, 54);
  color: rgb(255, 255, 255);
}
