.navbar {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-toggler {
  border: none;
  color: rgb(240, 246, 252);
}

.fixed-top {
  background-color: rgb(22, 27, 34);
}

.navItem {
  color: rgb(240, 246, 252);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
}

.navItem:hover {
  color: grey;
  transition: 0.5s;
}

.navbar-brand {
  color: rgb(240, 246, 252);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
}
