.bannerImg {
  height: 501px;
}

.profileFeedItem {
  height: 533px;
}

@media only screen and (max-width: 991px) {
  .profileFeedItem {
    height: 421px;
  }
  .bannerImg {
    height: 389px;
  }
}

@media only screen and (max-width: 767px) {
  .profileFeedItem {
    height: 308px;
  }
  .bannerImg {
    height: 276px;
  }
}

@media only screen and (max-width: 600px) {
  .profileFeedItem {
    height: 283px;
  }
  .bannerImg {
    height: 251px;
  }
}
